@model IEnumerable<REalimenta1.Models.alimento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detalhes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.origem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria_alimento.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mercado.cnpj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.validade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detalhes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.origem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria_alimento.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mercado.cnpj)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.alimento_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.alimento_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.alimento_id })
        </td>
    </tr>
}

</table>
